imap-tools
email-validator
pikepdf
pdfplumber
tabula-py
beautifulsoup4
nltk
regex 
pandas
numpy
streamlit
plotly
ipykernel
scikit-learn
PyPDF2
python-dateutil
tqdm
openpyxl
pytesseract
Pillow
dateparser
python-dotenv
sqlalchemy



